#ptrivia{
    width: 85%;
    height: 300px;
    text-align: center;
    background: rgb(145, 5, 145);
    margin: auto;
    border-radius: 15px;

    
}

h1 {
    text-align: center;
    color: rgb(145, 5, 145);
}


button {

    border-radius: 15px;
}

#timer{

    color: whitesmoke;
}